@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Catamaran:100,200,300,400,500,600,700');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
                                              /* Style Body */
body {
    font-family:    Catamaran, Oswald;
    color: #737191
}
    
                                             /* Style H2 and logo */



.logo {
    float: left;
    font-size: 280%;
    font-family:  Catamaran;
    text-transform: uppercase;
    color: #404c59;
    line-height: 75px;
}
   
 
   
                                                /* Style Menu */

 .menu {
    font-size: 110%;
    font-family: Catamaran;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 75px;
 }  

.menu {
 float:right;
}

.menu li {
 float:left;
 margin-right: 30px;
}
 
 .menu a {
     text-decoration: none;
     color:  #404c59;
 }    

.menu a:hover {
    border-bottom: 5px solid #FFC0CB;
}


                                                  /* Menu  links */
    






                                                
                                                 /* Hero image Here and style */
 

.hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/flowers-background.jpg') no-repeat center center fixed; 

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}   


.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
