@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700|Catamaran:100,200,300,400,500,600,700');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

    /* Style Body */
body {
    font-family: "Catamaran", "Oswald";
    color: #737191;
    
    
    
}

 /* Style Alert banner-pre-order */


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

         /* Style  logo */



.logo {
    
    float: left;
    font-size: 500%;
    font-family:  "Oswald";
    text-transform: uppercase;
    color: #404c59;
    line-height: 75px;
    margin-left: 30px;
    margin-right: 30px;
}
   
 
          /* Style Menu */

    
  .menu {
    font-size: 110%;
    font-family: "Catamaran"  ,sans-serif;  
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 75px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
  }

.menu {
 float:right;
}
            /* Menu  links music */

.menu  li {
 float:left;
 margin-right: 30px;
 margin-left: 30px;
}
 
 .menu a {
     text-decoration: none;
     color:  #404c59;
 }    

.menu a:hover {
    border-bottom: 5px solid #FFC0CB;
}


        /* Video page videos iframe */        
    
.wrapper {
    border: 5px;
    position: relative;
    padding-top: 30px;
	padding-bottom: 30px;
    }
iframe {
   top: 0;
   left: 0;
	
}     
     
        /* Music page img h1/p */   

img {
    max-width:100%;
    height: auto;
    object-fit: contain;
 }

h1  {
    margin-top: 150px;
    
}

p {
    letter-spacing: 4px;
    font-size: 20px;
    font-family: "Katamaran" , sans-serif;
}




     /* Live Page h1/h2/p */   

                                                
    
                            
         /* Hero image Here and style */
 
.hero-image{
    height:600px;
    width: 100%;
    background: url('../images/flowers-background.jpg') no-repeat center center fixed; 
    
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;

}

.hero-outer{
    height:600px;
    width: 100%;
    overflow:hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
 
             /* Text style and quotes */


.container {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    margin-top: 8px;
}





                                                                                   

             /* Front Page video iframes */




  .iframe-container{
     position: relative;
	 padding-bottom: 56.25%;
	 padding-top: 30px;
	 height: 0;
	 overflow: hidden;
    
}

.iframe-container iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}
     
    
    
  


          /* Sign- up Footer Styles */

    .contanct-title {
        margin-top: 100px;
        color: #777;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
    }

      .contanct-title , h2 {
         font-size: 32px;
          
          
      }
                            
      .contanct-title  h3 {
          font-size: 16px;
          line-height: 50px;
      }                      

    
     
      .form {
          margin-top: 50px;
          
      }                      

      .form-control {
          width: 600px;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 1px solid gray;
          color: #777;
          font-size: 18px;
          margin-bottom: 16px;
          margin-left:  auto;
          margin-right:  auto;
          
      }
      
      .input {
          height: 45px;
      }

      .submit {
          background: #FFC0CB;
          border-color: transparent;
          color: #fafafa;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 2px;
          height: 50px;
          margin-top: 15px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          
      }

       


                            
                /* Social links styles/ Footer Styles */


   .centerdiv {
       height: 70px;
       margin:  0;
       padding: 0;
       display: flex;
       justify-content: center;
       letter-spacing: 20px;
       font-size: 30px;
       transition: all 0.35s ease-in-out;
       
   }

   .fa {
       color: #FFC0CB;
   }

   .fa:hover {
      opacity: 0.7;
   }    
                 /* media  */

@media screen and (max-width: 943px) {
    
    .menu  {
        clear: left;
        float: left;
       
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

